
.cabecero{
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size:xx-large ;
}

.para {
    font-family: monospace;
    font-size: larger;
    color: blue;
}